{% extends 'authapp/base.html' %}

{% block content %}
  <body class="bg-primary">
  <div id="layoutAuthentication">
      <div id="layoutAuthentication_content">
          <main>
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-lg-7">
                          {% if form.errors %}
                              <div class="alert alert-warning fade show"
                                   style="margin-top: 100px; " >
                                  {{ form.errors.username }}
                                  {{ form.errors.password2 }}
                              </div>
                          {% else %}
                                <div class="alert alert-secondary fade show"
                                   style="margin-top: 100px; text-align: center;">
                                    The password should not be similar to the username, and should not be less than 8 characters and be too simple or completely numeric.
                                </div>
                          {% endif %}
                          <div class="card shadow-lg border-0 rounded-lg mt-5">
                              <div class="card-header"><h3 class="text-center font-weight-light my-4">Create an account</h3>
                              </div>
                              <div class="card-body">
                                  <form action="{% url 'users:register' %}" method="post">
                                      {% csrf_token %}
                                      <div class="form-row">
                                          <div class="col-md-6">
                                              <div class="form-group">
                                                  <label class="small mb-1" for="{{ form.first_name.id_for_label }}">Name</label>
                                                    {{ form.first_name }}
                                              </div>
                                          </div>
                                          <div class="col-md-6">
                                              <div class="form-group">
                                                  <label class="small mb-1" for="{{ form.last_name.id_for_label }}">Last Name</label>
                                                  {{ form.last_name }}
                                              </div>
                                          </div>
                                      </div>
                                      <div class="form-row">
                                          <div class="col-md-6">
                                              <label class="small mb-1" for="{{ form.username.id_for_label }}">Username</label>
                                              {{ form.username }}
                                          </div>
                                          <div class="col-md-6">
                                              <label class="small mb-1" for="{{ form.email.id_for_label }}">Email</label>
                                              {{ form.email }}
                                          </div>
                                      </div>
                                      <div class="form-row">
                                          <div class="col-md-6">
                                              <div class="form-group">
                                                  <label class="small mb-1" for="{{ form.password1.id_for_label }}">Password</label>
                                                  {{ form.password1 }}
                                              </div>
                                          </div>
                                          <div class="col-md-6">
                                              <div class="form-group">
                                                  <label class="small mb-1" for="{{ form.password2.id_for_label }}">Confirm the password</label>
                                                  {{ form.password2 }}
                                              </div>
                                          </div>
                                      </div>
                                      <div class="form-group mt-4 mb-0">
                                          <input class="btn btn-primary btn-block" type="submit" value="Create an account">
                                      </div>
                                  </form>
                              </div>
                              <div class="card-footer text-center">
                                  <div class="small"><a href="{% url 'users:login' %}">Already have an account? Login</a></div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </main>
      </div>
  </div>
  </body>
{% endblock %}
